
	<div data-elementor-type="wp-post" data-elementor-id="889" class="elementor elementor-889"
		data-elementor-settings="[]">
		<div class="elementor-section-wrap">
			<section
				class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-c5ea2e9 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="c5ea2e9" data-element_type="section"
				data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
				<div class="elementor-background-overlay"></div>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2561772 elementor-invisible"
						data-id="2561772" data-element_type="column"
						data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-228e998 ob-harakiri-inherit elementor-widget elementor-widget-heading"
								data-id="228e998" data-element_type="widget"
								data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
								data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h6 class="elementor-heading-title elementor-size-default">Welcome to Defipay</h6>
								</div>
							</div>
							<div class="elementor-element elementor-element-b071d36 ob-harakiri-inherit elementor-widget elementor-widget-heading"
								data-id="b071d36" data-element_type="widget"
								data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
								data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h1 class="elementor-heading-title elementor-size-default">PAY FASTER AND EASIER WITH DEFIPAY.</h1>
								</div>
							</div>
							<div class="elementor-element elementor-element-4e0519b ob-harakiri-inherit elementor-widget elementor-widget-text-editor"
								data-id="4e0519b" data-element_type="widget"
								data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
								data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p>The smart payment Solution You’ve been waiting For</p>
								</div>
							</div>
							<div class="elementor-element elementor-element-af97666 elementor-widget-elementskit-dual-button-center elementor-widget elementor-widget-elementskit-dual-button"
								data-id="af97666" data-element_type="widget"
								data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
								data-widget_type="elementskit-dual-button.default">
								<div class="elementor-widget-container">
									<div class="ekit-wid-con">
										<div class="ekit-element-align-wrapper">
											<div class="ekit_double_button">
												<a href="/form.html" class="elementor-button-link elementor-button elementor-size-md"
												role="button">
												<span class="elementor-button-content-wrapper">
													<span class="elementor-button-text">Get Early Access</span>
												</span>
											</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-026810a ob-harakiri-inherit elementor-widget elementor-widget-text-editor"
								data-id="026810a" data-element_type="widget"
								data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
								data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p>Be the first to know when Defipay Launches.
										Subscribe now to gain access to in app perks and also get first hand notification when it
										eventually launches</p>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0a4b8fd elementor-invisible"
						data-id="0a4b8fd" data-element_type="column"
						data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-0987d30 elementor-widget elementor-widget-image"
								data-id="0987d30" data-element_type="widget"
								data-settings="{&quot;_ob_photomorph_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
								data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="640" height="720"
										src="https://demo.moxcreative.com/moxpay/wp-content/uploads/sites/60/2021/08/bighero_header_image.png"
										class="attachment-large size-large" alt="" loading="lazy"
										srcset="https://demo.moxcreative.com/moxpay/wp-content/uploads/sites/60/2021/08/bighero_header_image.png 640w, https://demo.moxcreative.com/moxpay/wp-content/uploads/sites/60/2021/08/bighero_header_image-267x300.png 267w"
										sizes="(max-width: 640px) 100vw, 640px" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section
				class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-5a8fb1f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
				data-id="5a8fb1f" data-element_type="section"
				data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
				<div class="elementor-background-overlay"></div>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6a35828"
						data-id="6a35828" data-element_type="column"
						data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-821ea96 ob-harakiri-inherit elementor-widget elementor-widget-heading"
								data-id="821ea96" data-element_type="widget"
								data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
								data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h2 class="elementor-heading-title elementor-size-default" style="color: #002855;">Countdown to Launch</h2>
									<div id="countdown" style="margin-top: 2rem;">
										<ul>
											<li><span class="time" id="days"></span>days</li>
											<li><span class="time" id="hours"></span>Hours</li>
											<li><span class="time" id="minutes"></span>Minutes</li>
											<li><span class="time" id="seconds"></span>Seconds</li>
										</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section
				class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-2176586 elementor-reverse-tablet elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="2176586" data-element_type="section"
				data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-e335051 elementor-invisible"
						data-id="e335051" data-element_type="column"
						data-settings="{&quot;animation&quot;:&quot;bounceInDown&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-89f4f69 elementor-widget elementor-widget-image"
								data-id="89f4f69" data-element_type="widget"
								data-settings="{&quot;_ob_photomorph_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
								data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="423" height="428"
										src="/static/img/dpcard.jpg" alt="Mobile" loading="lazy"
										/>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-077eecd elementor-invisible"
						data-id="077eecd" data-element_type="column"
						data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-e3df689 ob-harakiri-inherit elementor-widget elementor-widget-heading"
								data-id="e3df689" data-element_type="widget"
								data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
								data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h2 class="elementor-heading-title elementor-size-default">The Smartest Payment Solution</h2>
								</div>
							</div>
							<div class="elementor-element elementor-element-5ed00c2 ob-harakiri-inherit elementor-widget elementor-widget-text-editor"
								data-id="5ed00c2" data-element_type="widget"
								data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
								data-widget_type="text-editor.default">
								<div class="elementor-widget-container" style="margin-left: 30px !important;">
									<p>Defi-Pay It is a decentralized solution that facilitates payments for cryptocurrency
										users.</p>
									<p>Designed for versatility with it’s wide
										range of specialised services, Defipay will
										offer flexibility and ease in payments
										across various platforms in other to
										ensure that’ payment hurdles, are a thing
										of the past Imagine, walking into an e-commerce store, selecting what you like while checking out with your
										Defipay enabled e-wallet?</p>

								</div>
							</div>
							
						</div>
					</div>
					<div class="elementor-column elementor-col-100  elementor-element elementor-element-077eecd elementor-invisible"
						data-id="077eecd" data-element_type="column"
						data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
						<div class="elementor-element elementor-element-5ed00c2 ob-harakiri-inherit elementor-widget elementor-widget-text-editor"
						data-id="5ed00c2" data-element_type="widget"
						data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
						data-widget_type="text-editor.default">
						<div class="elementor-widget-container" style="margin-left: 30px !important;">
							<p>Imagine, walking into an e-commerce store, selecting what you like while checking out with your
								Defipay enabled e-wallet?</p>
							<p>In a flash, the merchant receives payment in <a href="http://deficonnect.tech" target="_blank" rel="noopener noreferrer" style="color: #FF9738;">dfc tokens</a> or any other form of fiat currency, while
								you pick up the product you want?</p>
								<p>This right here, is the transactional ease that Defipay is set to usher in.
									Our goal, is to make sure payment of cryptocurrency is as easy as sending an email from
									anywhere in the world.</p>

									<h2>WHY DEFIPAY</h2>
									<ul>
										<li>Secure: We offer the highest level of security, ensuring that your transactions are safe.</li>
										<li>Fast: With a transaction time that is faster than any other payment gateway.</li>
										<li>Transparent: Transaction details are always available.</li>
										<li>Decentralized: We utilize blockchain technology to access a decentralized network system.</li>
									</ul>
							<p>To Build a global network of trusted users, Defi-Pay is the perfect solution for you!</p>
						</div>
					</div>

					</div>
				</div>
			</section>
			<section
				class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-df061c2 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="df061c2" data-element_type="section"
				data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7afd9ba"
						data-id="7afd9ba" data-element_type="column"
						data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-4d5a8fd ob-harakiri-inherit elementor-widget elementor-widget-heading"
								data-id="4d5a8fd" data-element_type="widget"
								data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
								data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h6 class="elementor-heading-title elementor-size-default">What people are Saying:</h6>
								</div>
							</div>
							<div class="elementor-element elementor-element-cd1c93f ob-harakiri-inherit elementor-widget elementor-widget-heading"
								data-id="cd1c93f" data-element_type="widget"
								data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
								data-widget_type="heading.default">
							</div>
							<section
								class="ob-is-breaking-bad ob-bb-inner elementor-section elementor-inner-section elementor-element elementor-element-533985a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
								data-id="533985a" data-element_type="section"
								data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3d3ff94"
										data-id="3d3ff94" data-element_type="column"
										data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-5894366 ekit-equal-height-enable elementor-widget elementor-widget-elementskit-icon-box"
												data-id="5894366" data-element_type="widget"
												data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
												data-widget_type="elementskit-icon-box.default">
												<div class="elementor-widget-container">
													<div class="ekit-wid-con">
														<div
															class="elementskit-infobox text-left text-left icon-top-align elementor-animation-float  gradient-active  hover_from_left">
															<div class="elementskit-box-header elementor-animation-">
																<div class="elementskit-info-box-icon  ">
																	<i aria-hidden="true"
																		class="elementkit-infobox-icon icon icon-credit-card"></i>
																</div>
															</div>
															<div class="box-body">
																<p>There's no team with well tailored solution that has given me so much joy, confidence and tranquility like DefiConnect.
																	The potentials embedded in their products are just so unimaginable and I am a 100% sure that DEFIPAY will be
																	awesome as well.. I just signed Up and cannot wait for it’s launch </p>
																<div class="box-footer disable_hover_button">
																	<div class="btn-wraper">
																		<a href="https://www.facebook.com/sadiq.obada?comment_id=Y29tbWVudDoxMjkxNTIwMDk0NjUzMDZfMTI5MTc2MjU2MTI5NTQ4&__cft__[0]=AZVneVlxN0ZZjVDZYCTOXbwGfDF63DqcrlSiGfF8p0N9Ggu03GH7XuNB1IMTgUW_9Ez42ddY2rfD18ce015M3ISXnJBhUePmPArwMovTswSY3xgbAuHS2vTwTU1dRsn1m4OXe3g8JC6Vnle1WAlIP5iqK6u536fxDThVH6k2w2bdVg&__tn__=R]-R" target="_self" rel=""
																			class="elementskit-btn whitespace--normal elementor-animation-float">
																			Sadiq Obada
																			<i aria-hidden="true"
																				class="fas fa-external-link-alt"></i>
																		</a>
																	</div>
																</div>
															</div>


														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-27795c8"
										data-id="27795c8" data-element_type="column"
										data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-b494a79 ekit-equal-height-enable elementor-widget elementor-widget-elementskit-icon-box"
												data-id="b494a79" data-element_type="widget"
												data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
												data-widget_type="elementskit-icon-box.default">
												<div class="elementor-widget-container">
													<div class="ekit-wid-con">
														<!-- link opening -->
														<!-- end link opening -->

														<div
															class="elementskit-infobox text-left text-left icon-top-align elementor-animation-float  gradient-active  hover_from_left">
															<div class="elementskit-box-header elementor-animation-">
																<div class="elementskit-info-box-icon  ">
																	<i aria-hidden="true"
																		class="elementkit-infobox-icon icon icon-animated-flip-box"></i>
																</div>
															</div>
															<div class="box-body">
																<p>Hello,
																	your project looks great and could be the new African Paypal.
																	I am eager to see how it will take over. </p>
																<div class="box-footer disable_hover_button">
																	<div class="btn-wraper">
																		<a href="https://www.facebook.com/seb.fisc?comment_id=Y29tbWVudDoxMjk0MjgwNzYxMDQzNjZfMTI5NTI2MDkyNzYxMjMx&__cft__[0]=AZVKf-ct9HuYh-yHruyYEDW3hzBgqRRBe4KNs4afE2mQTPbHAkXeoR2Ii_Y3rAELD4cw2UNBwNxwmrIfea020kiVaMZFxTxra8Wa2gabKJE8IDGenoeZHWeu1iBzrjPK2Ptopw8l7vTCZD59tK5Ko8yU3N29rzCdkkn2dV3g0UMuFQ&__tn__=R]-R" target="_self" rel=""
																			class="elementskit-btn whitespace--normal elementor-animation-float">
																			Seb Fisc
																			<i aria-hidden="true"
																				class="fas fa-external-link-alt"></i>
																		</a>
																	</div>
																</div>
															</div>


														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-6dbe47f"
										data-id="6dbe47f" data-element_type="column"
										data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-81e67ab ekit-equal-height-enable elementor-widget elementor-widget-elementskit-icon-box"
												data-id="81e67ab" data-element_type="widget"
												data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
												data-widget_type="elementskit-icon-box.default">
												<div class="elementor-widget-container">
													<div class="ekit-wid-con">
														<div
															class="elementskit-infobox text-left text-left icon-top-align elementor-animation-float  gradient-active  hover_from_left">
															<div class="elementskit-box-header elementor-animation-">
																<div class="elementskit-info-box-icon  ">
																	<i aria-hidden="true"
																		class="elementkit-infobox-icon icon icon-pie-chart3"></i>
																</div>
															</div>
															<div class="box-body">
																<p>I'm from brazil and i most like this project.
																	I bought tokens a lot and i will love to see defipay launch
																	Good luck for us</p>
																<div class="box-footer disable_hover_button">
																	<div class="btn-wraper">
																		<a href="https://www.facebook.com/marcelobmc?comment_id=Y29tbWVudDoxMjkxNTIwMDk0NjUzMDZfMTI5MjA4NzEyNzkyOTY5&__cft__[0]=AZVneVlxN0ZZjVDZYCTOXbwGfDF63DqcrlSiGfF8p0N9Ggu03GH7XuNB1IMTgUW_9Ez42ddY2rfD18ce015M3ISXnJBhUePmPArwMovTswSY3xgbAuHS2vTwTU1dRsn1m4OXe3g8JC6Vnle1WAlIP5iqK6u536fxDThVH6k2w2bdVg&__tn__=R]-R" target="_self" rel=""
																			class="elementskit-btn whitespace--normal elementor-animation-float">
																			Marcelo Bmc
																			<i aria-hidden="true"
																				class="fas fa-external-link-alt"></i>
																		</a>
																	</div>
																</div>
															</div>


														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section
								class="ob-is-breaking-bad ob-bb-inner elementor-section elementor-inner-section elementor-element elementor-element-533985a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
								data-id="533985a" data-element_type="section"
								data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
								<p>Be the first to gain access into Defipay</p>
								<div class="ekit-wid-con">
									<div class="ekit-element-align-wrapper">
										<div class="ekit_double_button">
											<a href="/form.html" class="elementor-button-link elementor-button elementor-size-md"
											role="button">
											<span class="elementor-button-content-wrapper">
												<span class="elementor-button-text">Get Early Access</span>
											</span>
										</a>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	
	